@font-face {
    font-family: 'gt_walsheim_problack';
    src: url('../font/gtwalsheimpro-black-webfont.eot');
    src: url('../font/gtwalsheimpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-black-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-black-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-black-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-black-webfont.svg#gt_walsheim_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_probold';
    src: url('../font/gtwalsheimpro-bold-webfont.eot');
    src: url('../font/gtwalsheimpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-bold-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-bold-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-bold-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-bold-webfont.svg#gt_walsheim_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_prolight';
    src: url('../font/gtwalsheimpro-light-webfont.eot');
    src: url('../font/gtwalsheimpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-light-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-light-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-light-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-light-webfont.svg#gt_walsheim_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('../font/gtwalsheimpro-medium-webfont.eot');
    src: url('../font/gtwalsheimpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-medium-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-medium-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-medium-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-medium-webfont.svg#gt_walsheim_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('../font/gtwalsheimpro-regular-webfont.eot');
    src: url('../font/gtwalsheimpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-regular-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-regular-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-regular-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-regular-webfont.svg#gt_walsheim_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_prothin';
    src: url('../font/gtwalsheimpro-thin-webfont.eot');
    src: url('../font/gtwalsheimpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-thin-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-thin-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-thin-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-thin-webfont.svg#gt_walsheim_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proultra_bold';
    src: url('../font/gtwalsheimpro-ultrabold-webfont.eot');
    src: url('../font/gtwalsheimpro-ultrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-ultrabold-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-ultrabold-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-ultrabold-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-ultrabold-webfont.svg#gt_walsheim_proultra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proultra_light';
    src: url('../font/gtwalsheimpro-ultralight-webfont.eot');
    src: url('../font/gtwalsheimpro-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-ultralight-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-ultralight-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-ultralight-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-ultralight-webfont.svg#gt_walsheim_proultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'gt_walsheim_proregular';
    font-size: 20px;
}

.flat-container {
    position: relative;
    width: 1576px;
    max-width: 1576px;
    margin: 0 auto;
}

@media (max-width: 1575px) {
    .flat-container {
        width: 100%;
        max-width: 100%;
    }
}

.header-wrapper {
    padding: 30px 0;
}

.navbar {
    height: 50px;
    margin: 0;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .icon-bar {
    border: 1px solid #e6e5eb;
}

.navbar-collapse {
    background: white;
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

.navbar-collapse.in {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.navbar .nav-link {
    display: inline-block;
}

.btn {
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #e6e5eb;
    min-width: 110px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.btn.danger {
    background: #ff4646;
    color: white!important;
}

.btn.danger:hover,
.btn.danger:focus {
    background: #ff4646;
}

.navbar a {
    color: black;
}

.navbar .input-group {
    position: relative;
}

.navbar input {
    border-radius: 20px!important;
    border: 1px solid #d8dbe2;
    height: 48px;
    line-height: 48px;
    width: 320px!important;
    padding-right: 48px;
}

.navbar .search-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #ff4646;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 3;
    text-align: center;
}

.navbar .search-icon i {
    color: white;
}

.navbar .profile img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #ff4646;
    width: 50px;
    height: 50px;
}

.navbar .profile h3 {
    font-family: 'gt_walsheim_probold';
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}

.navbar .profile h3 a {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar .profile h3 i {
    color: #6346fa;
}


.navbar .profile p {
    font-size: 17px;
    color: #9a9a9a;
    text-align: left;
}

.navbar .profile li a {
    line-height: 54px!important;
    min-width: 260px;
}

.navbar .dropdown-menu {
    border-radius: 10px;
}

.navbar .dropdown-menu li a {
    background: url('../img/list_style.jpg') 17px center no-repeat;
    padding-left: 35px;
}

.navbar .dropdown-menu .signout-li a {
    background: #efecfe;
    color: #6346fa;
}

.filter-wrapper {
    background: #f6f7fa;
    padding: 18px 0;
    position: relative;
    height: 80px;
    overflow: hidden;
    width: 100%;
}

.filter-wrapper.on {
    height: auto;
}

.filter-wrapper .more-link {
    position: absolute;
    top: 15px;
    right: 15px;
    color:#050038;
    text-decoration: none;
}

.filter-wrapper .more-link .normal {
    display: block;
}

.filter-wrapper .more-link .on {
    display: none;
}

.filter-wrapper .more-link.on .normal {
    display: none;
}

.filter-wrapper .more-link.on .on {
    display: block;
}

.filter-btn {
    padding: 10px 20px;
    margin-right: 18px;
    margin-bottom: 15px;
    border: 1px solid #d2d2dd;
    border-radius: 50px;
    font-size: 19px;
    color: #5d5a78;
    background: white;
}

.filter-btn.on {
    background: #6346fa;
    color: white;
}

.flat-semi-container {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .flat-semi-container {
        width: 100%;
        max-width: 100%;
    }
}

.intro-section {
    padding: 150px 0 100px 0;
    font-size: 24px;
}

.intro-section h1 {
    font-size: 70px;
    margin-top: 0;
}

.search-section {
    height: 700px;
    background: url('../img/img01.jpg') bottom no-repeat;
    background-size: 100% 85%;
}

.search-section .nav-tabs {
    border: none;
}

.search-section .tab-content {
    background: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 5px #EEE;
}

.search-section .tab-content .tab-pane {
    padding: 0;
    position: relative
}

.search-section .nav li {
    background: #eaeaee;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 120px;
}

.search-section .nav li a {
    color: #616478;
}

.search-section .nav li.active {
    background: none;
}

.search-section input {
    width: 100%;
    height: 55px;
    border: none;
}

.most-popular-section {
    padding: 160px 0px;
}

.most-popular-section h2 {
    font-family: 'gt_walsheim_probold';
    font-size: 60px;
    margin-bottom: 65px;
}

.most-popular-section img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
}

.most-popular-section .caption {
    padding: 0px 20px;
    font-size: 33px;
}

.most-popular-section .qty {
    padding: 0px 20px;
    font-size: 24px;
    margin-bottom: 25px;
}

.discover-section {
    position: relative;
    padding: 80px 96px;
    background: #6b50fc;
    border-radius: 20px;
}

.discover-section h2 {
    font-family: 'gt_walsheim_probold';
    font-size: 53px;
    color: white;
}

.discover-section p {
    font-size: 24px;
    color: white;
    margin: 40px 0;
    width: 800px;
}

.discover-section button {
    border-radius: 30px;
    border: none;
    color: #ff4646;
    padding: 23px 46px;
    background: white;
}

.discover-section img {
    position: absolute;
    top: -27px;
    right: 43px;
}

@media (max-width: 1400px) {
    .discover-section {
        text-align: center;
    }

    .discover-section h2 {
        margin-top: 400px;
        text-align: center;
    }

    .discover-section p {
        text-align: center;
        width: 100%;
    }

    .discover-section img {
        right: 50%;
        transform: translateX(50%);
    }
}

.about-section {
    padding: 140px 0;
    color: #050038;
}

.about-section img {
    border-radius: 20px;
    width: 100%;
}

.about-section .purple {
    color: #6346fa;
    font-size: 30px;
    margin-top: 35px;
}

.about-section h1 {
    font-family: 'gt_walsheim_probold';
    font-size: 60px;
    line-height: 70px;
}

.about-section .large {
    font-size: 27px;
}

.about-section .small {
    font-size: 23px;
    margin: 30px auto;
}

.about-section ul {
    margin: 0; 
    padding: 0;
}

.about-section ul li {
    list-style: none;
    padding-left: 40px;
    background: url('../img/img08.png') center left no-repeat;
    line-height: 50px;
}

.service-section {
    padding-bottom: 65px;
    text-align: center;
    color: #050038;
}

.service-section h2 {
    font-size: 50px;
}

.service-section p {
    font-size: 27px;
}

.service-section img {
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #eee;
}

.service-section .caption {
    font-size: 35px;
}

.service-section .comment {
    font-size: 19px;
}

.service-section button {
    margin-top: 50px;
}

.news-section {
    padding: 85px 0;
}

.news-section img {
    border-radius: 20px;
    width: 100%;
}

.news-section .news-img-wrapper {
    position: relative;
    margin-bottom: 25px;
}

.news-section .news-img-wrapper .property-news {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    width: 90%;
}

.news-section button {
    background: #6346fa;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 17px;
    padding: 10px 19px;
    margin-bottom: 30px;
}

.news-section .news-img-wrapper p {
    color: white;
    font-size: 34px;
}

.news-section .map-search-wrapper .search-item {
    margin-bottom: 25px;
    border-radius: 20px;
    /* border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; */
    box-shadow: 0 0 10px #EEE;
}

.news-section .map-search-wrapper a {
    color: #ff4646;
    padding-right: 25px;
    background: url('../img/img15.png') center right no-repeat;
}

.news-section .map-search-wrapper img {
    width: 90%;
}

@media (max-width: 991px) {
    .news-section .map-search-wrapper img {
        width: 100%;
    }
}

.news-section .map-search-wrapper .search-str-wrapper {
    padding: 50px 15px;
}

.journey-wrapper {
    padding: 160px 0;
    min-height: 500px;
    background: url('../img/img16.jpg') center no-repeat;
    background-size: cover;
}

.journey-wrapper h2 {
    font-family: 'gt_walsheim_probold';
    font-size: 53px;
    color: white;
    margin-bottom: 60px;
}

.journey-wrapper input {
    background: white;
    border: none;
    border-radius: 30px;
    line-height: 60px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 15px;
}

.journey-wrapper button {
    margin-bottom: 15px;
}

.site-map {
    padding: 160px 0;
    color: #050038;
    border-bottom: 1px solid #e9eaeb;
}

.site-map .logo {
    display: block;
    margin-bottom: 45px;
}

.site-map .social {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: white;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    display: inline-block;
    text-align: center;
    color: #050038;
}

.site-map .social:hover {
    background: #6346fa;
    border: 1px solid #6346fa;
}

.site-map .social:hover i {
    color: white;
}

.site-map .social i {
    font-size: 25px;
}

.site-map h3 {
    font-family: 'gt_walsheim_probold';
    font-size: 25px;
}

.site-map .site-map-link {
    font-size: 19px;
    line-height: 38px;
    display: block;
    color: #050038;
}

.footer {
    padding: 60px 0;
}

.footer .links {
    margin-bottom: 35px;
}

.footer .links a {
    color: #050038;
    text-decoration: none;
}

.footer .link-item {
    padding: 0 30px;
    border-right: 1px solid #d2d1d7;
}

.footer .link-item:first-of-type {
    padding-left: 0;
}

.footer .link-item:last-of-type {
    border: none;
}

.modal img {
    width: 100%;
}