@font-face {
    font-family: 'gt_walsheim_problack';
    src: url('../font/gtwalsheimpro-black-webfont.eot');
    src: url('../font/gtwalsheimpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-black-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-black-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-black-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-black-webfont.svg#gt_walsheim_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_probold';
    src: url('../font/gtwalsheimpro-bold-webfont.eot');
    src: url('../font/gtwalsheimpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-bold-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-bold-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-bold-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-bold-webfont.svg#gt_walsheim_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_prolight';
    src: url('../font/gtwalsheimpro-light-webfont.eot');
    src: url('../font/gtwalsheimpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-light-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-light-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-light-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-light-webfont.svg#gt_walsheim_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('../font/gtwalsheimpro-medium-webfont.eot');
    src: url('../font/gtwalsheimpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-medium-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-medium-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-medium-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-medium-webfont.svg#gt_walsheim_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('../font/gtwalsheimpro-regular-webfont.eot');
    src: url('../font/gtwalsheimpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-regular-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-regular-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-regular-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-regular-webfont.svg#gt_walsheim_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_prothin';
    src: url('../font/gtwalsheimpro-thin-webfont.eot');
    src: url('../font/gtwalsheimpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-thin-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-thin-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-thin-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-thin-webfont.svg#gt_walsheim_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proultra_bold';
    src: url('../font/gtwalsheimpro-ultrabold-webfont.eot');
    src: url('../font/gtwalsheimpro-ultrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-ultrabold-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-ultrabold-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-ultrabold-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-ultrabold-webfont.svg#gt_walsheim_proultra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proultra_light';
    src: url('../font/gtwalsheimpro-ultralight-webfont.eot');
    src: url('../font/gtwalsheimpro-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gtwalsheimpro-ultralight-webfont.woff2') format('woff2'),
         url('../font/gtwalsheimpro-ultralight-webfont.woff') format('woff'),
         url('../font/gtwalsheimpro-ultralight-webfont.ttf') format('truetype'),
         url('../font/gtwalsheimpro-ultralight-webfont.svg#gt_walsheim_proultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'gt_walsheim_proregular';
    font-size: 20px;
}

.flat-container {
    width: 1576px;
    max-width: 1576px;
    margin: 0 auto;
}

@media (max-width: 1575px) {
    .flat-container {
        width: 100%;
        max-width: 100%;
    }
}

.header-wrapper {
    padding: 30px 0;
}

.navbar {
    height: 50px;
    margin: 0;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .icon-bar {
    border: 1px solid #e6e5eb;
}

.navbar-collapse {
    background: white;
}

.btn {
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #e6e5eb;
    min-width: 110px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.btn.danger {
    background: #ff4646;
    color: white!important;
}

.btn.danger:hover,
.btn.danger:focus {
    background: #ff4646;
}

.navbar a {
    color: black;
}


.filter-wrapper {
    background: #f6f7fa;
    padding: 18px 0;
}

.filter-btn {
    padding: 10px 20px;
    margin-right: 18px;
    margin-bottom: 5px;
    border: 1px solid #d2d2dd;
    border-radius: 50px;
    font-size: 19px;
    color: #5d5a78;
    background: white;
}

.filter-btn.on {
    background: #6346fa;
    color: white;
}

.flat-semi-container {
    width: 1300px;
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .flat-semi-container {
        width: 100%;
        max-width: 100%;
    }
}

.intro-section {
    padding: 150px 0 100px 0;
    font-size: 24px;
}

.intro-section h1 {
    font-size: 70px;
}

.search-section {
    height: 700px;
    background: url('../img/img01.jpg') bottom no-repeat;
}

.search-section .nav-tabs {
    border: none;
}

.search-section .tab-content {
    background: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 5px #EEE;
}

.search-section .tab-content .tab-pane {
    padding: 0;
    position: relative
}

.search-section .nav li {
    background: #eaeaee;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 120px;
}

.search-section .nav li a {
    color: #616478;
}

.search-section .nav li.active {
    background: none;
}

.search-section input {
    width: 100%;
    height: 55px;
    border: none;
}

.most-popular-section {
    padding: 160px 0px;
}

.most-popular-section h2 {
    font-family: 'gt_walsheim_probold';
    font-size: 60px;
    margin-bottom: 65px;
}

.most-popular-section img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
}

.most-popular-section .caption {
    padding: 0px 20px;
    font-size: 33px;
}

.most-popular-section .qty {
    padding: 0px 20px;
    font-size: 24px;
}

.discover-section {
    position: relative;
    padding: 80px 96px;
    background: #6b50fc;
    border-radius: 20px;
}

.discover-section h2 {
    font-family: 'gt_walsheim_probold';
    font-size: 53px;
    color: white;
}

.discover-section p {
    font-size: 24px;
    color: white;
    margin: 40px 0;
    width: 800px;
}

.discover-section button {
    border-radius: 30px;
    border: none;
    color: #ff4646;
    padding: 23px 46px;
    background: white;
}

.discover-section img {
    position: absolute;
    top: -27px;
    right: 43px;
}

@media (max-width: 1400px) {
    .discover-section {
        text-align: center;
    }

    .discover-section h2 {
        margin-top: 400px;
        text-align: center;
    }

    .discover-section p {
        text-align: center;
        width: 100%;
    }

    .discover-section img {
        right: 50%;
        transform: translateX(50%);
    }
}

.about-section {
    padding: 140px 0;
}

.about-section img {
    border-radius: 20px;
    width: 100%;
}

.about-section .purple {
    color: #6346fa;
    font-size: 30px;
    margin-top: 35px;
}

.about-section h1 {
    font-family: 'gt_walsheim_probold';
    font-size: 60px;
    line-height: 70px;
}

.about-section .large {
    font-size: 27px;
    color: #050038;
}

.about-section .small {
    font-size: 23px;
    margin: 30px auto;
}

.about-section ul {
    margin: 0; 
    padding: 0;
}

.about-section ul li {
    list-style: none;
    padding-left: 40px;
    background: url('../img/img08.png') center left no-repeat;
    line-height: 50px;
}